.w2ui-grid .w2ui-grid-body table .w2ui-head > div {
  background: white;
}

.w2ui-grid .w2ui-grid-toolbar {
  background-color: white;
}

.w2ui-grid .w2ui-grid-footer {
  background-color: white;
}

.w2ui-select {
  background: white;
}
